.body {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .images {
    height: 78px;
    display: flex;
    align-items: center;
    gap: 8px;

    .img {
      width: 78px;
      height: 66px;
      border-radius: 13px;

    }
  }

  .pagination {
    display: flex;
    align-items: center;
    padding: 3px;
    gap: 3px;
    width: 135px;
    height: 36px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .button {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      linear-gradient(0deg, #F7F8FA, #F7F8FA);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -1%;
      text-align: center;
      cursor: pointer;


      &.active {
        background: rgba(236, 217, 185, 1);
      }

      &:first-child {
        border-radius: 30px 5px 5px 30px;
      }

      &:last-child {
        border-radius: 5px 30px 30px 5px;
      }

    }


  }
}