.body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .img {
      width: 38px;
      height: 38px;
      border-radius: 40px;
      border: 1px solid #E5E5E5
    }

    .row {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 109%;
        letter-spacing: 0;
        color: #000000;
      }

      .subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 109%;
        letter-spacing: 0;
        color: rgba(0, 0, 0, 0.3);

      }
    }
  }

  .right {
    width: 38px;
    height: 38px;
    border-radius: 40px;
    border: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 16px;
      height: 16px;
    }
  }
}