.body {
  width: 790px;
  height: 793px;
  border-radius: 20px;
  background: #fff;
  padding: 20px 13px;

  .img {
    margin-top: 33px;
    width: 764px;
    height: 612px;
    border-radius: 23px;

  }
}